.table {
	table-layout: fixed;
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 80%;
    margin-left: 50px;
    margin-right: 20px;
    float: right;
}

.table td, .table th {
    border: 1px solid #ddd;
    padding: 8px;
}

.table tr:nth-child(even){background-color: #f2f2f2;}

.table th.idBook, th.title, th.publisher, th.year, td.idBook, td.title, td.publisher, td.year {
	width: 150px;
}

.table th.date, th.description, th.copies, td.date, td.description, td.copies {
	width: 120px;
}

.table th.edit, th.delete, td.edit, td.delete {
	width: 80px;
}

.table th.authors, td.authors {
	width: 150px;
}







