* {
    box-sizing: border-box;
}

input[type=text], select, textarea {
    width: 200%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;    
    float: left;
}

label {
    margin-left: 50px;
    padding: 12px 12px 12px 0;
    font-weight: bold;
    display: inline-block;
}

input[type=submit] {
    background-color: #635b5b;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    float: left;
    margin-top: 10px;
    margin-left: 600px;
}

input[type=submit]:hover {
    background-color: #ccc;
}
