



table.menu {
    border-collapse: collapse;
    border: 2px solid black;
    width: 100%;
    margin-left: 15px;
}

.category {
    margin-left: 15px;
}


h5 { 
    display: block;
    font-size: 20px;
    margin-top: 0.67em;
    margin-bottom: 0.67em;
    margin-left: 0;
    margin-right: 0;
    font-weight: bold;
}