table.users {
	table-layout: fixed;
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 80%;
    margin-left: 150px;
    margin-right: 50px;    
    float: right;
}

table.users td, .table.usersH th {
    border: 1px solid #ddd;
    padding: 8px;
}

table.users tr:nth-child(even){background-color: #f2f2f2;}

table.users th.edit, th.delete, td.edit, td.delete {
	width: 80px;
}

table.users th.role, td.role {
	width: 60px;
}

table.users th.created, th.updated, td.created, td.updated {
	width: 180px;
}

table.users th.name, th.surname, th.email, td.name, td.surname, td.email {
	width: 120px;
}

table.users th.id, td.id {
	width: 220px;
}

table.users th.email, td.email {
	width: 220px;
}




